extends layout

block content
  ol
    each directory in directories
      li
        img(class='icon' src='/images/icon-dir.png')
        a(class='download-link directory' href=directory) #{directory}
    each file in files
      li
        img(class='icon' src='/images/icon-file.png')
        a(class='download-link file' href=file) #{file}