$sizeWidth = 10em

row-cell-mixin() {
  .name {
    flex auto
  }

  .size, .date {
    flex none
    padding 0 .5em
    min-width 144px
    text-align right
  }
}

row-icon-mixin() {
  position relative
  content ''
  height 1em
  width 1em
  margin 0 .333em
  display inline-block
  background-size cover
}

.file-table {
  display flex
  flex-direction column
  box-shadow 0 0 1px 3px rgba(169, 169, 169, 0.2)

  .title-row {
    row-cell-mixin()
    display flex
    align-items center
    height 2em
    padding-left 1em
    background-color: alpha($theme-color, 0.3)
    box-shadow 0 0 1em .5em alpha(white, 0.5) inset
  }

  a {
    row-cell-mixin()
    display flex
    align-items center
    height 2em
    transition background-color 200ms ease-in-out
    color: black

    &:nth-child(even) {
      background-color: alpha($theme-color, 0.1)
    }

    &:hover {
      background-color: alpha($theme-color, 0.15)
      font-weight bold
    }

    &.return:before {
      row-icon-mixin()
      background-image url("/images/icon-return.png")
    }

    &.directory:before {
      row-icon-mixin()
      background-image url("/images/icon-dir.png")
    }

    &.file:before {
      row-icon-mixin()
      background-image url("/images/icon-file.png")
    }
  }
}

.upload-area2
  border 1px dashed #000
  border-radius 30px
  width 80%
  height 80%

.upload-modal
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  z-index -1
  width 100vw
  height 100vh
  background-color rgba(255, 255, 255, 0)
  transition all ease-in-out 300ms

  @keyframes enter {
    to {
      border-radius 30px
    }
  }

  .upload-area
    border 1px dashed #000
    border-radius 50%
    width 50px
    height 50px
    position fixed
    left calc(100vw - 80px)
    top calc(100vh - 80px)
    transition left ease-in-out 300ms ,top ease-in-out 300ms, height ease-in-out 300ms, width ease-in-out 300ms, margin ease-in-out 100ms
    transform rotate(360deg)
    display flex
    align-items center
    justify-content center
    font-size 0
    font-style italic
    color grey

  &.drag-over
    z-index 1
    background-color rgba(255, 255, 255, 0.9)

    .upload-area
      margin 30px
      height calc(100vh - 60px)
      width calc(100vw - 60px)
      left 0
      top 0
      animation enter linear 50ms forwards
      font-size 30px

  &.drag-exit
    @keyframes exit {
      from {
        transform rotate(0)
      }
      to {
        transform rotate(360deg)
      }
    }
    .upload-area
      animation enter linear 50ms 300ms forwards, exit ease-in-out 300ms 300ms

