$theme-color = rgb(121, 184, 255)

* {
  box-sizing border-box
}

html, body {
  height 100%
  margin 0
  border 0
  overflow auto
}

body {
  font-family Apple-System, Arial, Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', STXihei, sans-serif
  font-size 15px
  line-height 1.42857143
  padding 30px
}


a {
  color white
  //text-shadow 1px 1px 1px black
  text-decoration none
  padding 0

  &:visited,
  &:hover,
  &:focus {
    color white
    text-decoration none
  }
}

.no-touch {
  user-select none
}

.has-link:not(.selected) {
  cursor pointer
}

.placeholder {
  opacity 0
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  $scrollbar-width = 10px
  width $scrollbar-width
  height $scrollbar-width

  &-track {
    border-radius ($scrollbar-width / 2)
    background transparent
  }

  &-thumb {
    transition background-color .2s
    border-radius ($scrollbar-width / 2)
    background-color alpha(darkgrey, .4)

    &:hover {
      background-color alpha(darkgrey, .6)
    }
  }
}
