.upload-component
  #upload-modal
    #upload-area
      span 来 ～ 搁这儿放️
      progress#uploading-progress(value='0')
  #upload-btn
    img(src='/images/icon-upload.jpg' alt='上传' title='上传文件')
  form(action='/upload', id='upload-form', method='post', encType='multipart/form-data')
    input(type="file" name='fileList' id="upload-input", multiple='true')
  script(src='/js/main.js')